<% if current_user %>
  <%= render "shared/submenu"%>
  <h3>Galería de Imágenes:</h3>

<table>
  <% @gallery_pictures.each do |gallery_picture| %>
  <tr>
    <td><%=gallery_picture.image_thumb%></td>
    <td><%=link_to "Editar", edit_site_gallery_picture_path(id: gallery_picture.id)%></td>
    <td><%= link_to "Eliminar", site_gallery_picture_path(id: gallery_picture.id), method: :delete%></td>
  </tr>
  <% end %>
</table>

  <%=link_to "Agregar nueva imagen", new_site_gallery_picture_path(@site.id)%>
<% end %>
