<% if current_user %>
  <%= render "shared/submenu"%>
  <h3>Miembros de mi equipo:</h3>

<table>
  <% @team_members.each do |team_member| %>
  <tr>
    <td><%=team_member.name%></td>
    <td><%=link_to "Editar", edit_site_team_member_path(id: team_member.id)%></td>
    <td><%= link_to "Eliminar", site_team_member_path(id: team_member.id), method: :delete%></td>
  </tr>
  <% end %>
</table>

  <%=link_to "Agregar miembros del equipo", new_site_team_member_path(@site.id)%>
<% end %>
