  <h2><%= @site.title%></h2>

<!-- LEFT MENU -->
<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><li><%= link_to "Información General", add_info_path(@site.id)%></li><span class="sr-only">(current)</span></a></li>
    <li><%=link_to "Equipo", site_team_members_path(@site.id)%></li>
    <li><%=link_to "Tratamientos", site_treatments_path(@site.id)%></li>
    <li><%=link_to "Comentarios", site_testimonials_path(@site.id)%></li>
    <li><%=link_to "Galería", site_gallery_pictures_path(@site.id)%></li>
  </ul>
</div>
<!-- END LEFT MENU -->
